<!--default bootstrap header-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!--clickable header-->
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Recipe Book</a>
    </div>

    <!--links -->
    <div class="collapse navbar-collapse">
      <!--unordered list containing the links -->
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li>
        <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping List</a></li>
      </ul>

      <!--dropdown menu positioned at right-->
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <!--configuring the dropdown, caret for down symbol-->
          <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;">Save Data</a></li>
            <li><a style="cursor: pointer;">Fetch Data</a></li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>
