<!--referenced inside recipes-component (md12)-->

<!--image-->
<div class="row">
  <div class="col-xs-12">
    <img [src]="recipe.imagePath"
         alt="{{recipe.name}}"
         class="img-responsive"
          style="max-height: 250px;">
  </div>
</div>
<!--recipe name-->
<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<!--recipe desc-->
<div class="row">
  <div class="col-xs-12">
    <!--buttons to manage recipe-->
    <div class="btn-group" appDropdown>
      <!--dropdown button-->
      <button type="button"
              class="btn btn-primary dropdown-toggle">
              Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="onAddToShoppingList()" style="cursor: pointer;">To Shopping List</a></li>
        <li><a style="cursor: pointer;" routerLink="edit">Edit Recipe</a> </li>
        <li><a style="cursor: pointer;" (click)="onDelete()">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>

<!--Description-->
<div class="row">
  <div class="col-xs-12">
    {{recipe.description}}
  </div>
</div>

<!--Ingredients-->
<div class="row">
  <div class="col-xs-12">
    <ul class = "list-group">
      <li class="list-group-item"
          *ngFor="let ingredient of recipe.ingredients">{{ingredient.name}} - {{ingredient.amount}}</li>
    </ul>
  </div>
</div>

