<div class="row">
  <!--bootstrap columns inside the row, left col smaller than right -->
  <div class="col-md-5">
    <app-recipe-list></app-recipe-list>
  </div>
  <div class="col-md-7">
    <router-outlet></router-outlet>
  </div>
</div>
