<!--we want to loop through all the items and use them to display recipes-->
<!--remember this is nested inside recipes-component (md-5)-->

<!--new recipe button -->
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" routerLink="new">New Recipe</button>
  </div>
</div>

<hr>
<!--recipes list-->
<div class="row">
  <!--span over full width-->
  <div class="col-xs-12">
    <app-recipe-item
      *ngFor="let aRecipe of recipes; let i = index"
      [recipe]="aRecipe"
    [index]="i">
    </app-recipe-item>
  </div>
</div>
