<div class="row">
  <!--create wide column-->
  <div class="col-xs-12">
    <!--form to add new ingredients-->
    <form (ngSubmit)="onAddItem(f)" #f="ngForm">
      <div class="row">
       <div class="col-sm-5 form-group">
         <label for="name">Name</label>
         <input
            type="text"
            id="name"
            name="name"
            ngModel
            required
            class="form-control"
           >
       </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            name="amount"
            ngModel
            required
            [pattern]="'^[1-9]+[0-9]*$'"
            class="form-control"
           >
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" [disabled]="!f.valid" type="submit">{{editMode ? 'Update' : 'Add'}}</button>
          <button class="btn btn-danger" type="button" (click)="onDelete()" *ngIf="editMode">Delete</button>
          <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
